    m.add_function(wrap_pyfunction!(py_${indicator_name}::${indicator_name}, m)?)?;
    m.add_function(wrap_pyfunction!(py_${indicator_name}::${indicator_name}_next, m)?)?;
    m.add_class::<py_${indicator_name}::Py${IndicatorName}State>()?;
